[run]
source =
    pyramid_debugtoolbar
    tests

[paths]
source =
    src/pyramid_debugtoolbar
    */src/pyramid_debugtoolbar
    */site-packages/pyramid_debugtoolbar

[report]
show_missing = true
precision = 2
