# Wire up travis
language: python
sudo: false

matrix:
    include:
        - python: 2.7
          env: TOXENV=py27
        - python: 3.4
          env: TOXENV=py34
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
          dist: xenial
          sudo: true
        - python: 3.8
          env: TOXENV=py38
          dist: xenial
          sudo: true
        - python: pypy
          env: TOXENV=pypy
        - python: pypy3
          env: TOXENV=pypy3
        - python: 3.5
          env: TOXENV=py2-cover,py3-cover,coverage
        - python: 3.5
          env: TOXENV=docs
        - python: 2.7
          env: TOXENV=py27-pyramid14
        - python: 3.5
          env: TOXENV=py35-pyramid19

install:
  - travis_retry pip install -U setuptools
  - travis_retry pip install -U pip
  - travis_retry pip install -U tox

script:
  - travis_retry tox

cache:
  directories:
    - $HOME/.cache/pip

notifications:
  email:
    - pyramid-checkins@lists.repoze.org
  irc:
    channels:
      - "chat.freenode.net#pyramid"
