{% if templates %}
	<table>
		<thead>
			<tr>
				<th>Filename</th>
				<th>System vars</th>
				<th>View vars</th>
			</tr>
		</thead>
		<tbody>
			{% for template in templates %}
				<tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
					<td>{{ template.name }}</td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No templates rendered.</p>
{% endif %}


