._200 {
  background-color: #468847;
}
._500 {
  background-color: #b94a48;
}
._404{
  background-color: #3a87ad;
}

.switch {
  font-size: 10px;
  display: block;
  color: white;
  height: 16px;
  width: 16px;
  cursor: pointer;
  }

.switch.active {
  background-image: url(/_debug_toolbar/static/img/tick.png);
}

.switch.inactive{
  background-image: url(/_debug_toolbar/static/img/tick-red.png);
}

li.nav-label {
  position: relative;
	display: block;
	padding: 10px 15px 10px 0px;
}

li.nav-label strong {
  font-size: 150%;
}

#pDebug #pDebugToolbarHandle {
	position:fixed;
	background:#fff;
	border:1px solid #111;
	top:30px;
	right:0;
	z-index:100000000;
	opacity:0.75;
	filter:alpha(opacity=75);
}


#pDebug a#pShowToolBarButton {
	display:block;
	height:75px;
	width:30px;
	border-right:none;
	border-bottom:4px solid #fff;
	border-top:4px solid #fff;
	border-left:4px solid #fff;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-indent:-999999px;
	background:#000 url(../img/djdt_vertical.png) no-repeat left center;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#pDebug a#pShowToolBarButton:hover {
	background-color:#111;
	padding-right:6px;
	border-top-color:#FFE761;
	border-left-color:#FFE761;
	border-bottom-color:#FFE761;
	opacity:1.0;
}

