._200 {
  background-color: #468847;
}
._500 {
  background-color: #b94a48;
}
._404{
  background-color: #3a87ad;
}

.switch {
  font-size: 10px;
  display: block;
  color: white;
  height: 16px;
  width: 16px;
  cursor: pointer;
  }

.switch.active {
  background-image: url(/_debug_toolbar/static/img/tick.png);
}

.switch.inactive{
  background-image: url(/_debug_toolbar/static/img/tick-red.png);
}

li.nav-label {
  position: relative;
	display: block;
	padding: 10px 15px 10px 0px;
}

li.nav-label strong {
  font-size: 150%;
}
