<p>Times in milliseconds</p>
<table class="pDebugSortable">
	<thead>
		<tr>
			<th>Calls</th>
            <th>Total</th>
            <th>Percall</th>
            <th>Cumu</th>
            <th>CumuPer</th>
            <th>Func</th>
		</tr>
	</thead>
	<tbody>
        {% for row in function_calls %}
			<tr class="{{ loop.cycle('pDebugOdd', 'pDebugEven') }}">
				<td>{{ row.ncalls }}</td>
				<td>{{ row.tottime }}</td>
				<td>{{ '%.4f'|format(row.percall) }}</td>
				<td>{{ row.cumtime }}</td>
				<td>{{ '%.4f'|format(row.percall_cum) }}</td>
				<td title="{{ row.filename_long }}">{{ row.filename|escape }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

