<table>
	<thead>
		<tr>
			<th>Route Name</th>
			<th>Route Pattern</th>
			<th>View Callable</th>
			<th>Predicates</th>
		</tr>
	</thead>
	<tbody>
		{% for route_info in routes %}
			<tr class="{{ loop.cycle('pDebugOdd', 'pDebugEven') }}">
				<td>{{ route_info.route.name|escape }}</td>
				<td>{{ route_info.route.pattern|escape }}</td>
				<td>{{ route_info.view_callable }}</td>
				<td>{{ route_info.predicates }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
