name: Build and test

on:
    # Only on pushes to main or one of the release branches we build on push
    push:
        branches:
            - main
            - "[0-9].[0-9]+-branch"
        tags:
    # Build pull requests
    pull_request:

jobs:
    test:
        strategy:
            matrix:
                py:
                    - "3.7"
                    - "3.8"
                    - "3.9"
                    - "3.10"
                    - "3.11"
                    - "3.12"
                    - "pypy-3.8"
                os:
                    - "ubuntu-latest"
                    - "windows-latest"
                    - "macos-latest"
                architecture:
                    - x64
                    - x86

                exclude:
                    # Linux and macOS don't have x86 python
                    - os: "ubuntu-latest"
                      architecture: x86
                    - os: "macos-latest"
                      architecture: x86
                    # PyPy3 on Windows doesn't seem to work
                    - os: "windows-latest"
                      py: "pypy-3.8"

        name: "Python: ${{ matrix.py }}-${{ matrix.architecture }} on ${{ matrix.os }}"
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.py }}
                  architecture: ${{ matrix.architecture }}
            - run: pip install tox
            - name: Running tox
              run: tox -e py
    test-pyramid14:
      runs-on: ubuntu-latest
      name: "Python: 3.7-x64 on ubuntu-latest with Pyramid 1.4"
      steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.7
                  architecture: x64
            - run: pip install tox
            - name: Running tox
              run: tox -e py37-pyramid14
    test-pyramid19:
      runs-on: ubuntu-latest
      name: "Python: 3.7-x64 on ubuntu-latest with Pyramid 1.9"
      steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.7
                  architecture: x64
            - run: pip install tox
            - name: Running tox
              run: tox -e py37-pyramid19
    test-sqlalchemy14:
      runs-on: ubuntu-latest
      name: "Python: 3.11-x64 on ubuntu-latest with SQLAlchemy 1.4"
      steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.11
                  architecture: x64
            - run: pip install tox
            - name: Running tox
              run: tox -e py311-sqlalchemy14
    coverage:
        runs-on: ubuntu-latest
        name: Validate coverage
        steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.7
                  architecture: x64
            - run: pip install tox
            - run: tox -e py37,coverage
    docs:
        runs-on: ubuntu-latest
        name: Build the documentation
        steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.8
                  architecture: x64
            - run: pip install tox
            - run: tox -e docs
    lint:
        runs-on: ubuntu-latest
        name: Lint the package
        steps:
            - uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.8
                  architecture: x64
            - run: pip install tox
            - run: tox -e lint
